<h1 class="mt-3 mb-3 restaurant-show-title">{{restaurant.name}}</h1>
<div class="container d-flex justify-content-end">
  <form action="/restaurant/{{restaurant._id}}/edit" method="GET" class="mt-2">
    <button class="btn mr-2 editBtn" style="border-radius: 25%; border:1px solid #f5f5f5; color:#aaaaaa"><i
        class="fas fa-edit"></i></button>
  </form>
  <form action="/restaurant/{{restaurant._id}}?_method=DELETE" method="post" class="mt-2">
    <button type="submit" class="btn deleteBtn" onclick="return removing()"
      style="border-radius: 25%; border:1px solid #f5f5f5; color:#aaaaaa"><i class="fas fa-trash-alt"></i></button>
  </form>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto">

      <p class="mb-2">
        <span class="text-secondary">
          <i class="fas fa-utensils pr-2"></i>
          類別：
        </span>
        {{restaurant.category}}
      </p>

      <p class="mb-2">
        <span class="text-secondary">
          <i class="fas fa-map-marker-alt pr-2"></i>
          地址：
        </span>
        {{restaurant.location}}
        <a href="{{restaurant.google_map}}" class="text-secondary" target="_blank">
          <i class="fas fa-location-arrow pr-2 fa-xs"></i>
        </a>
      </p>

      <p class="mb-2">
        <span class="text-secondary">
          <i class="fas fa-mobile-alt pr-2"></i>
          電話：
        </span>
        {{restaurant.phone}}
      </p>

      <p class="mb-5" style="line-height: 30px;">
        {{restaurant.description}}
      </p>

      <div class="row d-flex" style="flex-wrap: nowrap;">
        <img class="rounded mb-4" src="{{restaurant.image}}" alt="{{restaurant.name}}"
          style="max-width: 600px; border:0;">
        <div class="col-3">
          <iframe src="{{restaurant.google_iframe}}" width="400" height="300" style="border:0;" allowfullscreen=""
            loading="lazy"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function removing() {
    return confirm('Do you want to delete it ?')
  }
</script>